<h1>Liste des snacks</h1>


<% @snacks.each do |snack| %>
	<p><a href="/snacks/<%= snack.id %>">
	<% if snack.category %>
	<%= snack.brand %></a> <i>(<%= snack.category.name %>)</i>
	<% else %>
	<%= snack.brand %>
	<% end %>
	</p>
 <% end %>


<%= link_to 'Ajouter un snack', new_snack_path, class: 'btn btn-success' %>
