<h1>Affichage d'un snack</h1>

<p><%= @onesnack.brand %><br/>
<i><%= @onesnack.adress %></i>
</p>

<%= form_tag "/snacks/#{@onesnack.id}", method: "patch" do %>
  <input type="text" name="brand" value="<%= @onesnack.brand %>" />
  <input type="text" name="adress" value="<%= @onesnack.adress %>" />
  <input type="submit" value="Modifier le resto" />
<% end %>
<br/>
<a href="/snacks">Revenir à la liste</a>