<h1>Affichage d'un snack</h1>

<p><%= @onesnack.brand %><br/>
<i><%= @onesnack.adress %></i>
</p>

<div class="form_inputs">
<%= form_tag "/snacks/#{@onesnack.id}", method: "patch" do %>
  <input type="text" name="brand" value="<%= @onesnack.brand %>" />
  <input id="geocomplete" name="adress" value="<%= @onesnack.adress %>" />
  <input type="submit" value="Modifier le resto" />
<% end %>
<%= form_tag "/snacks/#{@onesnack.id}", method: "delete" do %>
  <input type="submit" value="Supprimer le snack" />
<% end %>
</div>

<a href="/snacks">Revenir à la liste</a>