<!DOCTYPE html>
<html>
<head>
  <title>SnackandCo</title>
<%= stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDVmavr21JzqkX2LK2G0uriwjIJs0jnlU0" %>
  <%= javascript_include_tag 'application','data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%- unless params[:action] != "home" -%>
    <nav class="round">
        <ul>
            <li><%= link_to "Home", '/' %></li>
            <li><%= link_to "Profile", '/users' %></li>
            <li><%= link_to "Sign in", '/signin' %></li>

         </ul>
         </nav>
<%- end -%>


<%- unless params[:action] == "home" -%>
	<nav>
		<li><%= link_to "Home", '/' %></li>
		<!-- Afficher sur toutes les pages, le nom de l'user et la possibilité de sign out-->
	</nav>
  </div>
<%- end -%>
	<%= yield %>
</body>
</html>